@using DropdownWithDependency.HtmlHelpers

    @model List<DropdownConfig>

@{
    ViewData["Title"] = "Home Page";
}
@{
    var cities = new List<SelectListItem>
    {
        new SelectListItem { Value = "1", Text = "İstanbul" },
        new SelectListItem { Value = "2", Text = "Ankara" }
    };

}

@Html.DropdownWithDependency(
        parentDropdownId: "CityId",
        childDropdownId: "DistrictId",
        parentItems: cities,
        childDataUrl: Url.Action("GetDistricts", "Dropdown"),
        parentSelectedValue: "1", // Varsayılan seçili il
        childSelectedValue: "2"  // Varsayılan seçili ilçe
    )

          @Html.DynamicDropdowns(
                  baseDropdownId: "DynamicDropdown",
                  dropdownConfigs: Model,
                  fetchDataUrl: Url.Action("GetDropdownData", "Dropdown")
              )



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
